// Fonts
@font-face {
    font-family: Rubik;
    src: url("/font/Rubki/static/Rubik-Regular.ttf");
}
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// background
@import "land/background";
@import "land/main";
@import "dashboard/main";

::-webkit-scrollbar {
    //display: none;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #888;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
