#login-page {
    .logo {
        margin-bottom: 18px;
        margin-top: 91px;
    }

    .logo img {
        height: 118px;
        width: 139.30555725097656px;
    }

    .form-control.custom {
        height: 47px;
        width: 302px;
        left: 0px;
        top: 0px;
        border-radius: 20px;
        /*font-family: Rubik;*/
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        color: #fff;
        margin-bottom: 20px;
        background-color: transparent;
    }

    .form-control::placeholder {
        color: #fff;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
    }

    select option {
        background: black;
    }

    .form-control.half {
        height: 47px;
        width: 145px;
    }

    .form-control.half:first-child {
        margin-right: 10px;
    }

    .signup-btn {
        margin-bottom: 25px;
        background: linear-gradient(122.33deg, #DC3C08 9.23%, #E94915 44.64%, #F87700 93.17%);
        border-radius: 30px;
        height: 47px;
        width: 302px;
        left: 569px;
        top: 504px;
        /*font-family: Rubik;*/
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        color: #FFFFFF;
    }

    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        width: 302px;
        color: #A896C7;
    }

    .separator::before,
    .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #A896C7;
    }

    .separator:not(:empty)::before {
        margin-right: .25em;
    }

    .separator:not(:empty)::after {
        margin-left: .25em;
    }

    .social-round-btn {
        width: 46px;
        height: 46px;
        border-radius: 100%;
        color: white;
        font-weight: bold;
        text-align: center;
        align-items: center;
        font-size: 20px;
        padding-top: 7px;
    }
}
