.form-control.custom {
    height: 47px;
    width: 302px;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    /*font-family: Rubik;*/
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #fff;
    margin-bottom: 20px;
    background-color: transparent;
}


#app.dashboard {
    .menu-block {
        position: absolute;
        z-index: 1000;
        display: none;
        background: linear-gradient(180deg, #FFFFFF 51.06%, #CCDEEF 95.81%, #4BA2F1 141.49%);
        border-radius: 30px;
        height: 720px;
        width: 349px;
        left: 80px;
        top: 140px;
        .menu-logo-border {
            border: 1px solid #2E58FF;
            height: 62px;
            width: 62px;
            border-radius: 100%;
            margin-top: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 44.766544342041016px;
                width: 52.849395751953125px;
            }
        }
    }
    .menu-block.show {
        display: block!important;
    }

    .menu-items {
        padding: 10px 30px 10px 40px;
        svg {
            font-size: 24px;
        }
        span {
            font-size: 24px;
            color: #979BAA;
        }
        h6 {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #0F1441;
            margin-left: 37px;
        }
        input[type="search"] {
            border-radius: 10px;
        }
    }

    .back-btn {
        position: absolute;
        text-transform: capitalize;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        right: 100px;
    }

    header {
        padding: 17px 15px;
        img.logo {
            height: 46px;
            width: 54px;
        }
        .link {
            align-items: center;
            span {
                color: white;
                font-size: 21px;
                margin-right: 30px;
            }
        }
    }
    .navbar {
        padding: 5px 70px;
        height: 58px;
        border-bottom: 0.5px solid #5A5889;
        a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar-brand {
            padding-right: 20px;
            border-right: 0.5px solid #5A5889;
            span {
                background: white;
                border-radius: 100%;
                height: 38px;
                width: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 24px;
                    height: 21px;
                }
            }
        }
    }
    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        //background-color: red;
    }

    .dropdown-content {
        //display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 100;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

#draft {
    .tab {
        display: none;
        text-align: center;
        .image {
            height: 193.87844848632812px;
            width: 211.9044952392578px;
            margin: 42px auto;
            position: relative;
            img.background {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            img.logo {
                position: absolute;
                left: 24px;
                top: 27px;
                height: 119.5890121459961px;
                width: 141.1814727783203px;
            }
            img.autopick {
                position: absolute;
                left: 60px;
                top: 46.8px;
                width: 120px;
                height: 74.38px;
            }
            img.snack {
                position: absolute;
                height: 138px;
                width: 111.2449722290039px;
                left: 47px;
                top: 27px;
            }
            img.auction {
                position: absolute;
                height: 130.00039672851562px;
                width: 114.6912841796875px;
                left: 51px;
                top: 16px;
            }
        }
        h5 {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 16px;
        }
        p {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 49px;
            width: 245px;
            margin: auto;
        }
    }
    .tab.active {
        display: block;
    }
    .draft-btn{
        display: none;
        background: linear-gradient(122.33deg, #DC3C08 9.23%, #E94915 44.64%, #F87700 93.17%);
        border-radius: 30px;
        height: 47px;
        width: 301px;
        margin-bottom: 35px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
    .draft-btn.active {
        display: initial;
    }

    .tab-slider {
        margin-top: 49px;
        margin-bottom: 33px;
        span {
            cursor: pointer;
            color: #FFFFFF;
        }
    }
    .skip-block {
        width: 301px;
        margin: auto;
    }
}

#create-league {
    .photo {
        height: 118px;
        width: 118px;
        border-radius: 100%;
    }
    .name {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        margin-top: 16px;
    }
    .desc {
        //font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #979BAA;
    }
    .create-btn{
        background: linear-gradient(122.33deg, #DC3C08 9.23%, #E94915 44.64%, #F87700 93.17%);
        border-radius: 30px;
        margin-top: 70px;
        height: 47px;
        width: 301px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
    .join-btn {
        background: linear-gradient(180deg, #FFFFFF 51.06%, #4BA2F1 141.49%);
        margin-top: 40px;
        border-radius: 30px;
        height: 45px;
        width: 299px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #0F1441;
    }

    p.star {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 38px;
        height: 34px;
        width: 141px;
        background: transparent;
        span {
            color: #FFD064;
            font-size: 20px;
        }
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-groups {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 90px;
        button {
            background: linear-gradient(133.51deg, #DC3C08 7.74%, #E94915 37.4%, #F87700 78.05%);
            width: 278px;
            height: 71px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            img {
                height: 34px;
                width: 34.00007247924805px;
            }
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    .draft-btn {
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: .2px solid white;
    }
    .create-team-btn {
        border-bottom-left-radius: 19px;
        border-bottom-right-radius: 19px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: .2px solid white;
    }
}

#name-league {
    .form-control {
        height: 47px;
        width: 301px;
        border-radius: 30px;
        border: 1px solid #FFFFFF;
        margin: 20px auto;
        background: transparent;
        color: white;
        option {
            background: #1b1e21;
        }
        &:first-child {
            margin-top: 180px;
        }
    }
    .create-btn {
        height: 47px;
        width: 301px;
        border-radius: 30px;
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        background: linear-gradient(122.33deg, #DC3C08 9.23%, #E94915 44.64%, #F87700 93.17%);
        text-transform: uppercase;
    }
    .subtitle {
        margin-top: 168px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 135%;
        text-align: center;
        color: #FFFFFF;
    }
    .btn-list {
        margin: 50px auto;
        width: 420px;
        button {
            height: 46px;
            width: 52px;
            border-radius: 9px;
            border: 3px solid #FFFFFF;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            background: transparent;
        }
        button.active{
            background: linear-gradient(180deg, #FFFFFF 51.06%, #4BA2F1 141.49%);
            color: #3B2561;
        }
    }
}

#game-center {
    padding-top: 220px;
    .invite-btn {
        background: linear-gradient(122.33deg, #DC3C08 9.23%, #E94915 44.64%, #F87700 93.17%);
        height: 202px;
        width: 307px;
        border-radius: 7px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        text-align: center;
        padding: 40px;
        img {
            height: 68.44445037841797px;
            width: 46.20000457763672px;
            margin-bottom: 20px;
        }
    }

    .my-league-btn {
        position: relative;
        background: linear-gradient(180deg, #FFFFFF 51.06%, #CCDEEF 95.81%, #4BA2F1 141.49%);
        border-radius: 5px;
        height: 202px;
        width: 307px;
        .header {
            display: flex;
            padding-left: 11px;
            align-items: center;
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            height: 27px;
            border-bottom: 0.5px solid #979BAA;

            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #979BAA;
        }
        .footer {
            bottom: 0;
            position: absolute;
            left: 0;
            width: 100%;
            height: 27px;
            border-top: 0.5px solid #979BAA;

            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            text-transform: capitalize;
            color: #2E58FF;
            text-align: center;
            align-items: center;
        }
        .content {
            padding: 0 46px;
            .team-name {
                font-style: normal;
                font-weight: bolder;
                font-size: 16px;
                line-height: 18px;
                text-align: center;
                text-transform: capitalize;
                color: #0F1441;
                margin-left: 9px;
            }
            .desc {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                color: #979BAA;
            }
            .day {
                h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: #0F1441;
                }
                small {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    color: #979BAA;
                }
            }
        }
    }

    .public-league-btn {
        background: linear-gradient(122.33deg, rgba(220, 60, 8, 0.8) 9.23%, rgba(233, 73, 21, 0.8) 44.64%, rgba(248, 119, 0, 0.8) 93.17%);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 7px;
        height: 202px;
        width: 307px;

        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;

        img {
            height: 70px;
            width: 70px;
            margin-bottom: 20px;
        }
    }
}

#draft_order {
    .top-block {
        img:first-child {
            height: 42.04917907714844px;
            width: 42.04917907714844px;
            z-index: 1;
        }
        img:nth-child(2){
            height: 54.28166961669922px;
            width: 54.28166961669922px;
            z-index: 100;
        }
        img:nth-child(3) {
            height: 42.04917907714844px;
            width: 42.04917907714844px;
            z-index: 1;
        }
        .team-number {
            margin-top: 5.8px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .top-left {
            border-top: 0.5px solid #5A5889;
            border-right: 0.25px solid #5A5889;
            padding-top: 26px;
            padding-right: 36px;
        }
        .top-right {
            border-top: 0.5px solid #5A5889;
            border-left: 0.25px solid #5A5889;
            padding-left: 68px;
            padding-top: 33px;
        }
    }
    table{
        tr {
            border: none;
        }
        th, td {
            border-bottom: 0.5px solid #5A5889;
        }
        th{
            background: #090B43;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: -0.02em;
            color: #676CC2
        }
        td {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    }
}

#main-dashboard {
    header {
        padding: 10px;
    }
}

#join-league {
    .logo-block {
        margin-top: 60px;
        margin-bottom: 70px;
    }
    .ledgue-card {
        height: 300px;
        width: 800px;
        border-radius: 30px;
        background: transparent;
        border: 0.5px solid #5A5889;
        .title {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .block {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
        }
        .block:first-child {
            border-right: 0.5px solid #5A5889;
        }
        .block:nth-child(2) {

        }
    }
    .create-btn{
        background: linear-gradient(122.33deg, #DC3C08 9.23%, #E94915 44.64%, #F87700 93.17%);
        border-radius: 30px;
        height: 47px;
        width: 301px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
}

.league.modal {
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 500px;
            margin: calc(50vh - 160px) auto;
        }
    }
    .modal-header {
        border: none;
        .close {
            color: white;
            opacity: 1;
        }
    }
    .modal-content {
        border-radius: 30px;
        background: #392461;
        color: white;
    }
    .modal-body {
        .title {
            font-weight: 500;
            font-size: 24px!important;
            line-height: 28px;
            text-align: center;
            margin-bottom: 54px;
        }
    }
    .modal-footer {
        border: none;
    }
    .create-btn{
        background: linear-gradient(122.33deg, #DC3C08 9.23%, #E94915 44.64%, #F87700 93.17%);
        border-radius: 30px;
        height: 47px;
        width: 301px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
}

#choose-league {
    padding-top: 54px;
    .title {
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }

    .content-block {
        margin: auto;
        margin-top: 33px;
        width: 700px;
        height: 665px;
        border: 0.5px solid #5A5889;
        box-sizing: border-box;
        border-radius: 30px;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        &::-webkit-scrollbar-track {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: #5A5889;
        }
        .content-list {
            padding: 0;
            li {
                border-bottom: 0.5px solid #5A5889;
                padding-top: 20px;
                padding-bottom: 20px;
                //padding: 20px 0px;
                .avatar-block {
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    .avatar {
                        height: 55px;
                        width: 55px;
                        border-radius: 100%;
                    }
                }
                .name-block {
                    .name {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        color: #FFFFFF;
                    }
                    .desc {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12.8px;
                        line-height: 15px;
                        color: #B7B6DC;
                    }
                }
                .action-block {
                    align-items: center;
                    padding-right: 28px;
                    .join-link {
                        display: block;
                        background: linear-gradient(103.82deg, #DC3C08 8.53%, #E94915 32.28%, #F87700 84.53%);
                        border-radius: 30px;
                        height: 40px;
                        width: 155px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                        /* or 100% */
                        text-align: center;
                        color: #FFFFFF;
                    }
                }

            }
            li:last-child {
                border: none!important;
            }
        }
    }

}

@media screen and (max-width: 480px) {
    .mobile-hidden {
        display: none;
    }
}

#profile-page {
    .navbar {
        height: 78px;
        border: none!important;
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }
    .info-block {
        height: 150px;
        .avatar {
            width: 84px;
            height: 84px;
            border-radius: 100%;
            margin-right: 30px;
        }
        .name-block {
            .name {
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                color: #FFFFFF;
            }
            small {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #979BAA;
            }
            margin-right: 40px;
        }
        .game-btn {
            background: linear-gradient(122.33deg, #DC3C08 9.23%, #E94915 44.64%, #F87700 93.17%);
            border-radius: 49px;
            height: 47px;
            width: 165px;

            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
        }
    }
}

#my-league {
    .header {
        height: 72px;
        margin-top: 15px;
        background: linear-gradient(180deg, #0F1441 17.81%, #1E1D66 54.39%, #3B2561 100%);
        padding: 15px 200px;
        .header-logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img.logo {
                margin-right: 10px;
            }
            .name-block {
                h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 18px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
                small {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    color: #676CC2;
                }
            }
        }
    }
    .link-list {
        margin-bottom: 56px;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
            }
            a {
                font-size: 15px;
                font-weight: normal;
                color: #FFFFFF;
            }
            border-top: 0.5px solid #5A5889;
            padding: 13px;
            &:last-child {
                border-bottom: 0.5px solid #5A5889;
            }
        }
    }
    table.score-table {
        height: 30px;
        width: 375px;
        thead {
            background: #090B43;
            th {
                height: 30px;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: #676CC2;
                padding: 9px 16px;
            }
        }
        tbody {
            tr {
                border-bottom: 0.5px solid #5A5889;
                td {
                    padding: 10px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    color: #FFFFFF;

                    div.east {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        span {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 18px;
                            text-align: right;
                            text-transform: uppercase;
                            color: #FFFFFF
                        }
                        img {
                            margin-left: 9px;
                            margin-right: 9px;
                            height: 27.069543838500977px;
                            width: 29.999980926513672px;
                        }
                        .name-block {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 18px;
                            text-align: center;
                            text-transform: capitalize;
                            color: #FFFFFF;
                            small {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .score-board {
        margin: auto;
        margin-top: 60px;
        margin-bottom: 24px;
        width: 375px;
        height: 62px;
        background: #090B43;
        font-style: normal;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
        line-height: 18px;
        padding: 22px 16px;
        strong{
            font-weight: 500;
            font-size: 14px;
        }
        small {
            font-weight: normal;
            font-size: 12px;
        }
    }
    .score-card {
        padding: 22px 15px;
        margin: 9px auto;
        width: 375px;
        background: linear-gradient(180deg, #FFFFFF 51.06%, #CCDEEF 95.81%, #4BA2F1 141.49%);
        border-radius: 5px;
        .score-team {
            .name-block {
                margin-left: 9px;
                font-style: normal;
                font-weight: normal;
                line-height: 18px;
                text-align: left;
                text-transform: capitalize;
                color: #979BAA;
                h5 {
                    font-size: 16px;
                }
                small {
                    font-size: 10px;
                }
            }
            .team-score {
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                text-transform: uppercase;
                color: #0F1441;
            }
        }
    }

}

.top-search-block {
    display: flex;
    align-items: center;
    margin-left: 30px;
    position: relative;
    .top-search_input {
        width: 250px;
        height: 30px;
        background: #101C44;
        border-radius: 25px;
        padding: 5px 30px 5px 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 140%;
        /* identical to box height, or 14px */
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .search-icon {
        position: absolute;
        right: 15px;
        color: #DADADA;
    }
}

#players-free-agency {
    .position-block {
        padding-left: 70px;
        padding-right: 30px;
        .title {
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 18px;
            text-transform: capitalize;
            color: #FFFFFF;
            padding: 0 0 19px 0;
            margin-top: 30px;
        }
        .positions {
            label {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 16px;
                color: #FFFFFF;
            }
            ul {
                list-style-type: none;
                overflow: hidden;
                li {
                    padding: 5px 11px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 16px;
                    color: #FFFFFF;
                    float: left;
                    border-left: 1px solid #5A5889;
                    &:first-child {
                        border-left: none;
                    }
                }
            }
        }
    }

    .table-block {
        color: white!important;
        padding-left: 70px;
        padding-right: 30px;
        margin-top: 50px;
        margin-bottom: 20px;
        .filter-block {
            margin-bottom: 20px;
            label {
                margin-right: 10px;
            }
            .form-control {
                margin-right: 10px;
                width: 120px;
                height: 32px;
                border: 1px solid #FFFFFF;
                border-radius: 30px;
                background: transparent;
            }
            .reset-link {
                color: white;
                margin-left: 10px;
            }
            .status-select {
                margin-right: 0;
                width: 180px!important;
            }
        }
        table {
            thead {
                background: #090B43;
                border: none;
                th {
                    border: none;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    letter-spacing: -0.02em;
                    color: #676CC2;
                }
            }
            color: white!important;
            .name-block {
                .name {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 18px;
                }
            }
            button {
                width: 70px;
                height: 47px;
                &.plus-btn {
                    background: linear-gradient(93.66deg, #DC3C08 10.06%, #E94915 40.54%, #F87700 92.48%);
                    border-radius: 23.5px;
                    font-size: 18px;
                    color: white;
                }
                &.flag-btn {
                    background: linear-gradient(180deg, #FFFFFF 51.06%, #4BA2F1 135.11%);
                    border-radius: 23.5px;
                    font-size: 18px;
                    color: #0F1441;
                }
            }
        }
    }
}
